<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UsingGetMethod</servlet-name>
        <servlet-class>UsingGET.UsingGetMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsingPostMethod</servlet-name>
        <servlet-class>UsingPOST.UsingPostMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsingCookiesExample1</servlet-name>
        <servlet-class>CookiesExample.UsingCookiesExample1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsingCookiesExample2</servlet-name>
        <servlet-class>CookiesExample.UsingCookiesExample2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsingSessionsExample1</servlet-name>
        <servlet-class>SessionsExample.UsingSessionsExample1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsingSessionsExample2</servlet-name>
        <servlet-class>SessionsExample.UsingSessionsExample2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>SimpleExample.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToEmailListServlet</servlet-name>
        <servlet-class>SimpleExample.AddToEmailListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayEmailEntryWithServlet</servlet-name>
        <servlet-class>SimpleExample.DisplayEmailEntryWithServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsingGetMethod</servlet-name>
        <url-pattern>/UsingGetMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsingPostMethod</servlet-name>
        <url-pattern>/UsingPostMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsingCookiesExample1</servlet-name>
        <url-pattern>/UsingCookiesExample1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsingCookiesExample2</servlet-name>
        <url-pattern>/UsingCookiesExample2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsingSessionsExample1</servlet-name>
        <url-pattern>/UsingSessionsExample1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsingSessionsExample2</servlet-name>
        <url-pattern>/UsingSessionsExample2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/AlanAndAoife</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToEmailListServlet</servlet-name>
        <url-pattern>/AddToEmailListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayEmailEntryWithServlet</servlet-name>
        <url-pattern>/DisplayEmailEntryWithServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
