<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DisplayReqAndRespData</servlet-name>
        <servlet-class>DisplayReqAndRespData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRefreshedTime</servlet-name>
        <servlet-class>DisplayRefreshedTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliverSpreadsheet</servlet-name>
        <servlet-class>DeliverSpreadsheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCompression</servlet-name>
        <servlet-class>TestCompression</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayReqAndRespData</servlet-name>
        <url-pattern>/DisplayReqAndRespData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRefreshedTime</servlet-name>
        <url-pattern>/DisplayRefreshedTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliverSpreadsheet</servlet-name>
        <url-pattern>/DeliverSpreadsheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCompression</servlet-name>
        <url-pattern>/TestCompression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
